@model WarikakeWeb.Models.SubscribeDisp

@{
    ViewData["Title"] = "新規定期登録";
}
<script>
    $(document).ready(function () {
        resttext();
        setmonth();
        setweekday();
        $('input[type="checkbox"]').change(resttext);
        $('#CostAmount').change(calccost);
        $('#isAllMonth').change(setmonth);
        $('input[name="weekOrDay"]').change(setweekday);
    });
</script>

<h1>新規定期登録</h1>

<h4>割勘家計簿</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="qid" name="qid" value="@ViewBag.qid" />
            <input type="hidden" asp-for="SubscribeId" />
            <span asp-validation-for="SubscribeId" class="text-danger"></span>
            <input type="hidden" asp-for="status" />
            <span asp-validation-for="status" class="text-danger"></span>
            <input type="hidden" asp-for="CostStatus" />
            <span asp-validation-for="CostStatus" class="text-danger"></span>
            <div class="form-group">
                <input type="hidden" asp-for="GroupId" />
                <span asp-validation-for="GroupId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <input type="checkbox" asp-for="isAllMonth" />
                        </td>
                        <td>月</td>
                        <td>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m1" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m1" />
                            <span asp-validation-for="dateSubscribe.m1" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m2" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m2" />
                            <span asp-validation-for="dateSubscribe.m2" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m3" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m3" />
                            <span asp-validation-for="dateSubscribe.m3" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m4" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m4" />
                            <span asp-validation-for="dateSubscribe.m4" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m5" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m5" />
                            <span asp-validation-for="dateSubscribe.m5" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m6" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m6" />
                            <span asp-validation-for="dateSubscribe.m6" class="text-danger"></span>
                        </td>

                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m7" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m7" />
                            <span asp-validation-for="dateSubscribe.m7" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m8" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m8" />
                            <span asp-validation-for="dateSubscribe.m8" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m9" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m9" />
                            <span asp-validation-for="dateSubscribe.m9" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m10" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m10" />
                            <span asp-validation-for="dateSubscribe.m10" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m11" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m11" />
                            <span asp-validation-for="dateSubscribe.m11" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.m12" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.m12" />
                            <span asp-validation-for="dateSubscribe.m12" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <span asp-validation-for="isAllMonth" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" asp-for="weekOrDay" value="week" id="week-weekorday" />
                        </td>
                        <td>曜日</td>
                        <td>
                            <label asp-for="dateSubscribe.r1" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.r1" />
                            <span asp-validation-for="dateSubscribe.r1" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.r2" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.r2" />
                            <span asp-validation-for="dateSubscribe.r2" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.r3" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.r3" />
                            <span asp-validation-for="dateSubscribe.r3" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.r4" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.r4" />
                            <span asp-validation-for="dateSubscribe.r4" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.r5" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.r5" />
                            <span asp-validation-for="dateSubscribe.r5" class="text-danger"></span>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.w1" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.w1" />
                            <span asp-validation-for="dateSubscribe.w1" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.w2" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.w2" />
                            <span asp-validation-for="dateSubscribe.w2" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.w3" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.w3" />
                            <span asp-validation-for="dateSubscribe.w3" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.w4" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.w4" />
                            <span asp-validation-for="dateSubscribe.w4" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.w5" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.w5" />
                            <span asp-validation-for="dateSubscribe.w5" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.w6" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.w6" />
                            <span asp-validation-for="dateSubscribe.w6" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.w7" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.w7" />
                            <span asp-validation-for="dateSubscribe.w7" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td colspan="7">
                            ※第5週の無い月はスキップされます
                        </td>
                    </tr>
                    <tr>
                        <td colspan="9">
                            <span asp-validation-for="weekOrDay" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="radio" asp-for="weekOrDay" value="day" id="day-weekorday" />
                        </td>
                        <td>
                            日
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d1" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d1" />
                            <span asp-validation-for="dateSubscribe.d1" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d2" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d2" />
                            <span asp-validation-for="dateSubscribe.d2" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d3" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d3" />
                            <span asp-validation-for="dateSubscribe.d3" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d4" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d4" />
                            <span asp-validation-for=" dateSubscribe.d4" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d5" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d5" />
                            <span asp-validation-for="dateSubscribe.d5" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d6" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d6" />
                            <span asp-validation-for="dateSubscribe.d6" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d7" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d7" />
                            <span asp-validation-for="dateSubscribe.d7" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <label asp-for="dateSubscribe.d8" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d8" />
                            <span asp-validation-for="dateSubscribe.d8" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d9" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d9" />
                            <span asp-validation-for="dateSubscribe.d9" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d10" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d10" />
                            <span asp-validation-for="dateSubscribe.d10" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d11" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d11" />
                            <span asp-validation-for="dateSubscribe.d11" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d12" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d12" />
                            <span asp-validation-for="dateSubscribe.d12" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d13" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d13" />
                            <span asp-validation-for="dateSubscribe.d13" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d14" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d14" />
                            <span asp-validation-for="dateSubscribe.d14" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <label asp-for="dateSubscribe.d15" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d15" />
                            <span asp-validation-for="dateSubscribe.d15" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d16" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d16" />
                            <span asp-validation-for="dateSubscribe.d16" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d17" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d17" />
                            <span asp-validation-for="dateSubscribe.d17" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d18" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d18" />
                            <span asp-validation-for="dateSubscribe.d18" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d19" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d19" />
                            <span asp-validation-for="dateSubscribe.d19" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d20" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d20" />
                            <span asp-validation-for="dateSubscribe.d20" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d21" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d21" />
                            <span asp-validation-for="dateSubscribe.d21" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <label asp-for="dateSubscribe.d22" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d22" />
                            <span asp-validation-for="dateSubscribe.d22" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d23" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d23" />
                            <span asp-validation-for="dateSubscribe.d23" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d24" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d24" />
                            <span asp-validation-for="dateSubscribe.d24" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d25" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d25" />
                            <span asp-validation-for="dateSubscribe.d25" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d26" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d26" />
                            <span asp-validation-for="dateSubscribe.d26" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d27" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d27" />
                            <span asp-validation-for="dateSubscribe.d27" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d28" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d28" />
                            <span asp-validation-for="dateSubscribe.d28" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <label asp-for="dateSubscribe.d29" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d29" />
                            <span asp-validation-for="dateSubscribe.d29" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d30" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d30" />
                            <span asp-validation-for="dateSubscribe.d30" class="text-danger"></span>
                        </td>
                        <td>
                            <label asp-for="dateSubscribe.d31" class="control-label"></label>
                            <input type="checkbox" asp-for="dateSubscribe.d31" />
                            <span asp-validation-for="dateSubscribe.d31" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td colspan="7">
                            ※29～31日の無い月は28日に集約されます
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label asp-for="CostAmount" class="control-label"></label>
                <input asp-for="CostAmount" class="form-control" />
                <span asp-validation-for="CostAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GenreId" class="control-label"></label>
                @Html.DropDownList("GenreId", ViewBag.Genres as SelectList, new { @class = "form-control" })
                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostTitle" class="control-label"></label>
                <input asp-for="CostTitle" class="form-control" />
                <span asp-validation-for="CostTitle" class="text-danger"></span>
            </div>
            <hr />
            <table id="members">
                <tr>
                    <th>
                        
                    </th>
                    <th colspan="2">
                        <label asp-for="Pays[0].PayAmount" class="control-label"></label>
                    </th>
                    <th>
                        
                    </th>
                    <th>
                        
                    </th>
                    <th colspan="2">
                        <label asp-for="Repays[0].RepayAmount" class="control-label"></label>
                    </th>
                    </tr>
                    @for (int i = 0; i < Model.Pays.Count; i++)
                    {
                    <tr>
                        <td>
                            <nobr>@Html.DisplayFor(modelItem => Model.Pays[i].PayUserName)</nobr>
                            <input type="hidden" asp-for="Pays[i].PayUserId"  />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Pays[i].PayUserOn" />
                        </td>
                        <td>
                            <input asp-for="Pays[i].PayAmount" class="form-control" />
                            <span asp-validation-for="Pays[i].PayAmount" class="text-danger"></span>
                        </td>
                        <td>
                            →
                        </td>
                        <td>

                            <input type="hidden" asp-for="Repays[i].RepayUserId" />
                        </td>
                        <td>
                            <input type="checkbox" asp-for="Repays[i].RepayUserOn" />
                        </td>
                        <td>
                            <input asp-for="Repays[i].RepayAmount" class="form-control" />
                            <span asp-validation-for="Repays[i].RepayAmount" class="text-danger"></span>
                        </td>
                    </tr>
                    }
                </table>
            <div class="form-group">
                <input type="submit" value="登録" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">一覧に戻る</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}