@model WarikakeWeb.Models.CsvImport

@{
    ViewData["Title"] = "CSV移行";
}

<h1>CSV移行</h1>

<h4>移行データを登録</h4>
@ViewBag.migCnt
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Migrate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="移行" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">メニューに戻る</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
