@{
    ViewData["Title"] = "アクセス不可";
}
<h1>アクセス不可</h1>

<h4>割勘家計簿</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <a asp-area="" asp-controller="Home" asp-action="Login">ログイン</a>
    </div>
</div>