@model WarikakeWeb.ViewModel.GroupRequestDisp
@{
    ViewData["Title"] = "グループ";
}
<h1>グループ</h1>

<h4>グループ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GroupRequest">
            <h4><input type="radio" asp-for="NewOrJoin" value="New" />新規グループを作成しリーダーになる</h4>
            <div class="form-group">
                <label asp-for="NewGroupName" class="control-label"></label>
                <input asp-for="NewGroupName" class="form-control" />
                <span asp-validation-for="NewGroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="作成" class="btn btn-primary" />
            </div>
            <hr />
            <h4><input type="radio" asp-for="NewOrJoin" value="Join" />一時キーを使って既存グループへの参加を申請する</h4>
            <div class="form-group">
                <label asp-for="GroupName" class="control-label"></label>
                <input asp-for="GroupName" class="form-control" />
                <span asp-validation-for="GroupName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TempKey" class="control-label"></label>
                <input asp-for="TempKey" class="form-control" />
                <span asp-validation-for="TempKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="申請" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
